/*************************************************
 * RESET *****************************************
 *************************************************/

* {
    font-size: 0.625em;
    font-family: 'Exo', 'Arial', 'sans-serif';
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10rem;
}

/*************************************************
 * CANVAS ****************************************
 *************************************************/

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

/*************************************************
 * PANELS ****************************************
 *************************************************/

.panel {
    right: 0;
    width: 27rem;
    z-index: 100000;
    position: absolute;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -webkit-transform: translateX(27rem);
    -moz-transform: translateX(27rem);
    -ms-transform: translateX(27rem);
    -o-transform: translateX(27rem);
    transform: translateX(27rem);
}

.open {
    transform: translateX(0);
}

.content {
    width: 100%;
    height: 100%;
    min-height: 7.5rem;
    background-color: #EEE;
    color: #888;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.content > p:first-of-type {
    margin-top: 0;
}

.btn {
    background-color: #EEE;
    background-position: center;
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: -5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.btn:hover {
    cursor: pointer;
    background-color: #FFF;
    opacity: 0.9;
}

/* Individual Panels */
#lighting {
    top: 5rem;
    z-index: 1000;
}

#camera {
    top: 10.1rem;
    z-index: 999;
}

/* Individual Buttons */
#lighting .btn {
    background-image: url(../img/icons/sun.png);
}

#camera .btn {
    background-image: url(../img/icons/cam.png);
}

/*************************************************
 * COMPASS ***************************************
 *************************************************/

.squarewrapper {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

.squarewrapper .square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transform: rotate(22.5deg);
}

.circle:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: #EEE;
    border-radius: 1000px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.segmentwrapper {
    position: absolute;
    top: 49%;
    left: 49%;
    width: 2%;
    height: 2%;
}

.segment {
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 5000%;
    height: 5000%;
    overflow: hidden;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
}

.segment .inner {
    position: absolute;
    right: -50%;
    bottom: -50%;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    cursor: pointer;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.content-box {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

.segment {
    transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -moz-tranform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -o-transform: skewX(45deg);
}

.segment .inner {
    transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -moz-tranform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
}

.segment .inner:hover {
    transform: skewX(-45deg) scale(1.1);
    -ms-transform: skewX(-45deg) scale(1.1);
    -moz-tranform: skewX(-45deg) scale(1.1);
    -webkit-transform: skewX(-45deg) scale(1.1);
    -o-transform: skewX(-45deg) scale(1.1);
    background: green;
    background: -webkit-linear-gradient(-30deg, darkgreen, limegreen);
    background: -moz-linear-gradient(-30deg, darkgreen, limegreen);
    background: -o-linear-gradient(-30deg, darkgreen, limegreen);
    background: -ms-linear-gradient(-30deg, darkgreen, limegreen);
    background: linear-gradient(-30deg, darkgreen, limegreen);
}

.segment .inner:active {

}

.nohover .segment .inner {
    cursor: default;
}

.nohover .segment .inner:hover {
    transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -moz-tranform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
}

.segment8 {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-tranform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.segment7 {
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -moz-tranform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}
.segment6 {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-tranform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
.segment5 {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -moz-tranform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
}
.segment4 {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-tranform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.segment3 {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-tranform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
.segment2 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-tranform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.segment1 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-tranform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.inner p {
    font-size: 2rem;
    color: #FFF;
    margin: 0;
}

.cardinal p {
    transform: rotate(-67.5deg) translateY(-4.5rem) translateX(1.5rem);
    -ms-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(1.5rem);
    -moz-tranform: rotate(-67.5deg) translateY(-4.5rem) translateX(1.5rem);
    -webkit-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(1.5rem);
    -o-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(1.5rem);
}

.cardinal {
    background: blue;
    background: -webkit-linear-gradient(-90deg, blue, cadetblue);
    background: -moz-linear-gradient(-90deg, blue, cadetblue);
    background: -o-linear-gradient(-90deg, blue, cadetblue);
    background: -ms-linear-gradient(-90deg, blue, cadetblue);
    background: linear-gradient(-15deg, blue, cadetblue);
}

.intercardinal p {
    transform: rotate(-67.5deg) translateY(-4.5rem) translateX(0.5rem);
    -ms-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(0.5rem);
    -moz-tranform: rotate(-67.5deg) translateY(-4.5rem) translateX(0.5rem);
    -webkit-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(0.5rem);
    -o-transform: rotate(-67.5deg) translateY(-4.5rem) translateX(0.5rem);
}

.intercardinal {
    background: red;
    background: linear-gradient(-15deg, red, indianred);
}

.orientation .inner {
    background: green;
    background: -webkit-linear-gradient(-30deg, darkgreen, limegreen);
    background: -moz-linear-gradient(-30deg, darkgreen, limegreen);
    background: -o-linear-gradient(-30deg, darkgreen, limegreen);
    background: -ms-linear-gradient(-30deg, darkgreen, limegreen);
    background: linear-gradient(-30deg, darkgreen, limegreen);
}